<html>
<head>
  <title>
    "API"
  </title>
</head>

<body>
<div style="width:200px;background-color: #FBC2C4;">
<h1 style="text-align:center"> MULTI CALCULATOR APPLICATION</h1>
</div>
<input type="button" value="Add Calculator" id="addCalculatorButton"/>
<input type="button" value="Clear!!" id="clear"/>
</br>
</br>
</br>

<div id="template" style="visibility:hidden">
  <div class="calculator" style="position:relative;float:left;margin-left:50px;margin-bottom:50px; ">

    Enter your command: <input type="text" class="myInput"/></br>
    <input type="button" value="Calculate" class="myButton"/>
    </br>
    <input type="button" value="1" class="1"/><input type="button" value="2" class="2"/><input type="button" value="3" class="3"/></br>
    <input type="button" value="4" class="4"/><input type="button" value="5" class="5"/><input type="button" value="6" class="6"/></br>
    <input type="button" value="7" class="7"/><input type="button" value="8" class="8"/><input type="button" value="9" class="9"/></br>
    </br>
    <input type="button" value="+" class="add"/><input type="button" value="-" class="sub"/></br>
    <input type="button" value="*" class="mul"/><input type="button" value="/" class="div"/></br>
    <input type="button" value="cancel" class="add"/><input type="button" value="=" class="equal"/></br>


    <hr style="color:blueviolet">

    <div class="myHistory">

    </div>


  </div>


</div>

<div class="baseDiv">
</div>



</body>
</html>