<html>
<head>
  <title>
    "API"
  </title>
</head>

<body>
<h1> this is calculator's client</h1>
<div id="myForm">
  <div>
    <input type="text" id="myInput"/>
    <input type="button" id="myButton" value="Submit"/>
  </div>
</div>
</body>
</html>