<html>
<head>
  <title>
    "API"
  </title>
</head>

<body>
<h1 style="text-align:center"> MULTI CALCULATOR APPLICATION</h1>
<input type="button" value="Add Calculator" id="addCalculatorButton"/>
<input type="button" value="Clear!!" id="clear"/>
</br>
</br>
</br>

<div id="template" style="visibility:hidden">
  <div class="calculator" style="position:relative;float:left;margin-left:50px;margin-bottom:50px; ">

    Enter your command: <input type="text" class="myInput"/></br>
    <input type="button" value="Calculate" class="myButton"/>

    <hr style="color:blueviolet">

    <div class="myHistory">

    </div>


  </div>


</div>

<div class="baseDiv">
</div>



</body>
</html>