<html>
<head>
  <title>
    "API"
  </title>
</head>

<body>
<h1> this is calculator's client</h1>
<div id="myForm">
  <div>
    <input type="text" class="myInput"/>
    <input type="button" class="myButton" value="Submit"/>
  </div>
</div>

<h1> this is calculator's client</h1>
<div id="myForm1">
  <div>
    <input type="text" class="myInput"/>
    <input type="button" class="myButton" value="Submit"/>
  </div>
</div>
</body>
</html>